.button-arrow-icon {
    display: inline-block;
    color: var(--secondary-text-color);
    vertical-align: middle;
    transition: transform 0.2s var(--animation-base);
}

.button-arrow-left .button-arrow-icon {
    margin-right: 3px;
    margin-left: -2px;
}

.button-arrow-right .button-arrow-icon {
    margin-right: -2px;
    margin-left: 3px;
}

.button-arrow-left:hover .button-arrow-icon {
    transform: translateX(-5px);
}

.button-arrow-right:hover .button-arrow-icon {
    transform: translateX(5px);
}

.button {
    background-color: #fe9900;
    border: none!important;
    color: #000!important;
    padding: 15px 32px;
    -webkit-text-emphasis: center;
    text-emphasis: center;
    border: 10px;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 25px;
    justify-self: self-start;
    font-weight: 800;
  }