table {
  color: var(--titles-color);
  font-size: 0.875rem;
  width: 100%;
  margin: 0 -20px 25px;
}
@media only screen and (min-width: 48rem) {
  table {
    font-size: 1rem;
    width: 100%;
    margin: 0 0 30px;
  }
}
table thead {
  border-bottom: 1px solid var(--table-head-border-bottom);
}
table thead td {
  font-weight: 600;
}
table tbody tr:nth-child(even) {
  background-color: var(--background-color);
}
table tbody tr:nth-child(odd) {
  background-color: var(--table-background-color-odd);
}
table td {
  text-align: center;
  padding: 5px;
}
@media only screen and (min-width: 48rem) {
  table td {
    padding: 10px;
  }
}